
@{
        foreach (String s in Model)
        {
        <a href="Course/getcourse/@s">
        
        <div style="  font-weight:bold;
                    padding: 3vw;
                    font-size:3ch;"> 
        @s
        </div>
        </a>
 
           
        }
    }


